.c7{

}
.peek-shell {
  overflow: hidden;
  position: relative;
}

.peek-track {
  display: flex;
  gap: 1rem;
  transition: transform 0.5s ease;
}

/* 1.5 карточки видно */
.peek-card {
  flex: 0 0 66.666%;
}
.peek-card img{
    width: 25.2rem;
    height: 35.3rem;
}
.peek-cark-sec img{
    width: 34rem;
    height: 38.7rem;
}
.peek-card:nth-child(even){
    transform: translateY(3rem);
}
.peek-prev, .peek-next{
    position: relative;
    transform: translateY(-50%);
    border: 1px solid #323232 !important;
    background: #191919;
    border-radius: 2rem;
    width: 7rem;
    height: 7rem;
    border: none;
    cursor: pointer;
        background-size: contain;
        color: #fff;
        font-size: 2rem;
        font-weight: 400;
        font-family: var(--font-family);
        margin-right: 0rem;
}
.peek-prev{
    background:#000;
    margin-right: 0.7rem;
}