.c9{

}
.c9-wrapper{
    padding: 3.2rem 3.2rem 3.7rem 3rem;
    background: #080808;
    border: 1px solid #323232;
    border-radius: 2rem;
    position: relative;
}
.c9-wrapper:nth-child(3) {
    background: #fff;
}
.c9-wrapper:nth-child(3){
    color: #000 !important;
}
.c9-wrapper:nth-child(4){

    background: #738ca5;
}
.black{
    color: #000 !important;
}
.c9-title-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c9-title-item{

}
.c9-title{
font-family: var(--font-family);
font-weight: 400;
font-size: 2.5rem;
text-transform: uppercase;
color: #fff;
margin-top: 1.3rem;
}
.c9-uppertitle{
font-family: var(--font-family);
font-weight: 300;
font-size: 1.6rem;
color: #fff;
}
.c9-title-box{
    border: 1px solid #323232;
border-radius: 2rem;
width: 6.5rem;
height: 6.5rem;
background: #191919;
display: flex;
align-items: center;
justify-content: center;
}

.c9-gray-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 1.6rem;
color: #4d4d4d;
margin-top: 3.7rem;
margin-bottom: 3.8rem;
}
.c9-line{
    height: 0.1rem;
    width: 100%;
    position: absolute;
    background: #323232;
    left: 0;
}
.c9-main-block{
    margin-top: 7.2rem;
}
.c9-main-text{
    margin-top: 4rem;
    margin-bottom: 4.7rem;
}
.c9-main-title{
    font-family: var(--font-family);
font-weight: 300;
font-size: 1.6rem;
line-height: 156%;
text-transform: uppercase;
color: #fff;
}
.c9-dis-wrap{
    margin-top: 2rem;
}
.c9-dis{
    display: flex;
    gap: 0.9rem;
    align-items: center;
    margin-top: 7.2rem;
}
.c9-dis p{
    font-family: var(--font-family);
font-weight: 300;
font-size: 1.6rem;
line-height: 156%;
text-transform: uppercase;
color: #fff;
}
.c9-dis-wrap{

}
.c9-dis-wrap p{
    color: #4d4d4d;
}
.gray{
    color: #8a8a8a !important;
}
.c9-text-flex{
    display: flex;
    align-items: flex-start;
    gap: 1.3rem;
    margin-bottom: 0.5rem;
}
.c9-price{
    font-family: var(--font-family);
font-weight: 400;
font-size: 4.5rem;
line-height: 56%;
color: #fff;
}
.c9-price-btn-circle{
    width: 6rem;
    height: 6rem;
    border-radius: 100%;
    background: #738ca5;
    display: flex;
    align-items: center;
    justify-content: center;
}
.c9-price-btn{
    background: #738ca5;
    border-radius: 15rem;
    width: 24.5rem;
    height: 6rem;
    font-family: var(--font-family);
    font-weight: 300;
    font-size: 2.5rem;
    line-height: 100%;
    text-align: center;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.c9-price-btn-wrap{
    display: flex;
    justify-content: center;
    margin-top: 4rem;
}