.c4{
    padding-top: 5rem;
}
.c4-wrapper{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 6.5rem;
    
}
.c4-item{
    background-image: url(../../images/c4-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 32rem;
    border-radius: 2rem;
    padding: 2.8rem 2.5rem 0 2.8rem;
    border: 1px solid #323232;
    position: sticky;
    top: 5rem;
}
.c4-item:nth-child(2){
    background-image: url(../../images/c4-bg-2.png);
    top: 21.7rem;
}
.c4-item:nth-child(3){
    background-image: url(../../images/c4-bg-3.png);
    top: 35rem;
}
.c4-item:nth-child(4){
    background: none;
    border: none;
    top: 35rem;
}

.c4-num{
font-family: var(--font-family);
font-weight: 300;
font-size: 1.8rem;
color: #949494;
}
.c4-top-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.c4-circle{
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 100%;
    background: #fff;
}
.c4-title{
    font-family: var(--font-family);
font-weight: 400;
font-size: 1.7rem;
text-transform: uppercase;
color: #fff;
margin-top: 2.5rem;
margin-bottom: 4rem;
}
.c4-line{
border: 1px solid rgba(255, 255, 255, 0.15);
width: 31.4rem;
height: 0px;
margin-bottom: 3.2rem;
}
.c4-text{
    font-family: var(--font-family);
font-weight: 300;
font-size: 1.7rem;
color: #fff;
}